<h2>Contact Info</h2>
<p>
Email: <%=h "#{@user.email}"%><br />
Phone: <%=h "#{@registration.phone}"%><br />
Travel Phone: <%=h "#{@registration.mobile}"%><br />
</p>

<h2>Payment Due</h2>
<p>
Amount due: <%=h number_to_currency(@registration.amount_owed, :precision => 2)%>
<br />
You can make your check out to <strong>Boulevard Bible Chapel</strong>
and mail it to
      <blockquote>
      Florida Mens Bible Study c/o Mike Renth<br />
      2481 SW 99th Way<br />
      Miramar FL 33025 USA
      </blockquote>
</p>
