     <h2><a name="randy">Randy Amos</a></h2>
     <p><%= image_tag 'randy.jpg',  :alt=>'Randy Amos',
         :style=>"float:left; padding: 10px;", :title => 'Randy Amos' %>
         
     <strong>Randy Amos (<a href="http://www.thinking7.org/"
     target="_blank">website</a>) </strong> has a wide ranging
     preaching, teaching, and writing ministry for the glory of the
     Lord Jesus Christ. He travels throughout the US, Canada, and
     sometimes farther afield and has been a great blessing to the
     people of God, persuading men everywhere of the truth of the
     gospel and of God's Holy Word. Randy and his wife, Sylvia, hail
     from Oregon.</p>
     
<p style="clear: both;"><hr /></p>
        
     <h2><a name="keith">Keith Keyser</a></h2>
     <p><%= image_tag 'keith.jpg',  :alt=>'Keith Keyser',
         :style=>"float:left; padding: 10px;", :title => 'Keith Keyser' %>
         
     <strong>Keith Keyser (<a href="http://www.goodwordsandworks.com/"
     target="_blank">website</a>) </strong> was born & raised in
     southeastern Pennsylvania, brought up in a Christian home and
     converted at age 7 through a knowledge of his sinfulness and
     Christ’s sufficiency to save. His gift of teaching was discovered
     and developed in the local assembly in Gilbertsville, PA where he
     continues to fellowship.</p>

     <p>Keith left secular employment to give all of his time to the
     Lord’s service beginning in 1999. He is mainly engaged in an
     itinerant Bible teaching and gospel preaching ministry throughout
     North America, western Europe, and Asia. He also writes various
     articles on the Scriptures for Christian publications, and
     produces articles and a podcast available on his own website.</p>

     <p>Married to Naomi since 2005, they have been blessed with four
     children. Whenever possible, they join Keith in traveling
     amongst God's people.</p>
     
<p style="clear: both;"><hr /></p>
        
     <h2><a name="larry">Larry Price</a></h2>
     <p><%= image_tag 'larry.jpg',  :alt=>'Larry Price',
         :style=>"float:left; padding: 10px;", :title => 'Larry Price' %>
         
     <strong>Larry Price (<a href="http://www.larryrprice.com/"
     target="_blank">website</a>) </strong> was gloriously saved while
     in prison. The Lord saw fit to draw Larry to himself during that
     time of trouble and then to use him to help build up His kindgom
     through a preachng and teaching ministry to his saints. You can
     hear an <a
     href=http://www.voicesforchrist.org/VFC-GOLD/Price_Larry/PriceLarry-LarryPriceOnUnshackledRadioBroadcast.mp3">audio
     version of Larry's testimony</a> for more information.</p>

     <p>Larry resides in Florida with his wife, Wanda.</p>

<p style="clear: both;"><hr /></p>
        
     <h2><a name="henry">Henry Sardiña</a></h2>
     <p><%= image_tag 'henry.jpg',  :alt=>'Henry Sardiña',
         :style=>"float:left; padding: 10px;", :title => 'Henry Sardiña' %>
         
     <strong>Henry Sardiña</strong> was saved while in a Bahamian
     prison cell and called into the work of the Lord as evangelist,
     preacher and teacher. Henry and his wife, Lisa, reside in
     Florida and travel all over the US for the glory
     of the Lord Jesus Christ and to the benefit of God's people.</p>
     </p>

<p style="clear:both" />
