      <h1>Contact Information</h1>

     <p>If you have interest in receiving email updates about the 
     Bible Study or if you have any questions, please send an email
     to <span class="standout">info&#x0040;florida<span class="altcolor">bible</span>study.org</span></p>

