<h1>Frequently Asked Questions</h1>

<h2>What is the schedule?</h2>

<p>The study begins with supper on Monday evening 5:30 pm and ends
late Thursday night.  While some will leave Thursday evening, all
attendees are welcome to stay through Friday morning breakfast.
There is usually an informal meeting before breakfast for prayer.
The main studies occur in several sessions in the morning, late
afternoon, and evening, with a longer break being given right after
lunch.</p>

<h2>Why is there a registration fee?</h2>

<p>As far as financial arrangements are concerned we would like to
express from the outset our continued dependence on the Lord and our
confidence in Him to supply the needs.  While the seminar will
continue to be sponsored by concerned brethren as the Lord leads and
supplies, the fee for use of the Camp Horizon facilities, lodging, and
meals is $110.00 and is payable by check only (no credit cards), and
is due at the time you register unless you call one of the brethren
listed and make other arrangements.  As in the past, it is our desire
that those who are led of the Lord to come be able to do so.  If you
for some reason cannot afford to send the registration fee do not
hesitate to contact us. Trust the Lord and do not let lack of personal
financial resources prohibit you from coming.</p>

<h2>How is this operation financed and organized?</h2>

<p>Obviously there are other expenses connected with a study of this
nature. We trust that each will settle in their heart before the Lord
their responsibility in light of:
<div class="scripturebox">
   Let him that is taught in the word communicate
     unto him that teacheth in all good things<br />
     Galatians 6:6
</div>                         
May each one pray for wisdom to know His guidance and grace to obey it.
Every year that this study has been held, God has faithfully provided
for all the needs.</p>

<h2>Should I send my registration to Camp Horizon?</h2>

<p>DO NOT send registration information to Camp Horizon as it will
delay your registration. Registrations will be accepted in the order
received until the study is fully subscribed. After that the
registration will allow you to get onto the waiting list.</p>

<h2>I'm coming from out of town. Which airport should I use?</h2>

<p>The <a href="http://www.orlandoairports.net/main.htm">Orlando
International Airport (MCO)</a> is the most convenient to Leesburg,
being about 1 hour's drive from the camp. Most of the logistics that
we can help with on the Florida end of your journey will be at this
airport. </p>

<h2>What can I help with?</h2>

<p>There is often a need for ride-sharing arrangements and
transportation help between Orlando and Camp Horizon. If you are
planning to rent a car, or if you are a Flordia local who could help
transport others to camp, please contact us so we can put you in
contact with those needing assistance.</p>

<p>There is a great need to pray for the activities of the week: for
the teachers and their preparations, for the camp staff, for those who
are considering whether the Lord would have them attend, for traveling
safety, and many other things.</p>

<h2>Is this study sponsored by a church or a para-church organization?</h2>

<p>No. The study is held and organized, in the will of the Lord, only by
several concerned and exercised individuals with the aim of God receiving 
all the glory, the Lord's people everywhere receiving the help, and the
Lord Jesus Christ being given the preeminence in all things.</p>

<h2>Does the camp have a website?</h2>

<p>Yes, and it has maps and directions too. <a
href="http://www.camphorizon.org/">http://www.camphorizon.org/</a>.</p>

<h2>What facilities and amenities does the camp provide?</h2>

<p>All the meals while you are at the study are included either in the
registration cost or what is provided by other exercised brothers in
the Lord. The camp has a swimming pool, access to <a
href="http://en.wikipedia.org/wiki/Lake_Harris_%28Florida%29">Lake
Harris</a>, dorms and cabins, plenty of hot water, and some pillows and
bed linens. If convenient for your travel arrangements you may want to
bring a pillow and bed linens to make sure there is an adequate
supply.</p>

<h2>What should I do to prepare for the study?</h2>

<p>There isn't an answer to this question right now. It is
often the case that as the time approaches certain passages
of scripture are suggested for study. If you are are registered
and that turns out to be the case for this study, the conveners
will let you know.</p>

<div class="scripturebox">
Till I come, give attendance to reading, to exhortation, to doctrine<br />
1 Timothy 4:13
</div>