<div class="centered">
<h1 class="altcolor">An Intensive 4 Day Bible Study</h1>

<div class="scripturebox vevent" title="Florida Mens Bible Study 2010">
  <span class="summary">Mens<span class="altcolor">Bible</span>Study<span class="altcolor">2010</span>
<ul>
  <li> Teachers:
    <ul>
      <li>Randy Amos</li>
      <li>Keith Keyser</li>
      <li>Larry Price</li>
      <li>Henry Sardiña</li>
    </ul>
  <li class="location">Where: Camp Horizon, Leesburg, Florida</li>
  <li> Registration Cost: $110</li>
  <li> <abbr class="dtstart" title="2010-01-11">January 11</abbr> - <abbr class="dtend" title="2010-01-16">15</abbr>, 2010</li>
  <li>Topic: To Be Announced Soon</li>
  <li><%= link_to 'Online Registration is Open!', :controller => 'registration', :action => 'register' %>!</li>
</ul>
</div>
</div>

<p>This is a very intensive time of concentrated Bible study. The days
are long, and the sessions rigorous, yet enjoyable, and are truly most
profitable to those that are serious minded about God's Word. While we
would certainly not seek to discourage any interested brother from
attending, we do want all to know from the outset what to expect. This
in no way implies that all attendees are "advanced" students of the
Bible. There will be men at various stages in their Christian growth
and experience. The purpose for gathering is to work together in this
format of intensive Bible study to gain insight into God's Word and
increase our appreciation of God's Son and God's mind as revealed in
Scripture. Thus shall we be better equipped to serve the Lord in His
assembly. As many of you have experienced, the blessings and benefits
derived from intensive study of God's word can be tremendous. </p>
