<h1>Florida Mens Bible Study Audio Files</h1>

<ul>
<% @files.each do |file| %>
  <% next if file.index /secret/ %>
  <% title = file.gsub(/.mp3/,'').gsub(/#{Rails.public_path}\/audio\//,'').gsub(/_/," ").gsub(/-/,' - ') %>
  <% href = file.gsub(/#{Rails.public_path}/,'').gsub(/ +/,"%20") %>
  <li>
    <a href="<%=href%>" title="<%=title%>"><%=title%></a>
  </li>
<% end %>
</ul>